@tailwind base;
@tailwind components;
@tailwind utilities;


textarea {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  resize: vertical;
}

button {
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: #9ca3af;
}

ul {
  list-style-type: none;
  padding: 0;
}
